@model Tickets.ViewModels.TicketsCreateViewModel

@{
    ViewBag.Title = DateTime.Now.ToShortDateString();
}
<br />
@*<div class="visible-sm visible-xs hidden-md col-sm-12">
    @if (Model.myschools.Any(x => x.School != null))
    {
        <div class="col-xs-2">
            <div class="panel">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        My Sites
                    </h1>
                </div>
                <div class="panel-body">


                            @foreach (var item in Model.myschools)
                            {
                                    <h6>
                                        <span class="badge">@item.TicketCount</span> @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School, TechID = @item.TechID }, new { @style = "color:black;" })
                                    </h6>

                            }

                </div>
            </div>
        </div>
    }
    @if (Model.allschools.Any(x => x.School != null))
    {
        <div class="col-xs-10">
            <div class="panel">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        All Sites
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        @foreach (var item in Model.allschools.Take(8))
                        {
                            <h6>
                                <span class="badge">@item.TicketCount</span> @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School }, new { @style = "color:black;" })
                            </h6>
                        }

                    </div>

                    <div class="col-xs-3">
                        @foreach (var item in Model.allschools.Skip(8).Take(8))
                        {
                            <h6>
                                <span class="badge">@item.TicketCount</span> @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School }, new { @style = "color:black;" })
                            </h6>
                        }
                    </div>
                    <div class="col-xs-3">
                        @foreach (var item in Model.allschools.Skip(16).Take(8))
                        {
                            <h6>
                                <span class="badge">@item.TicketCount</span> @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School }, new { @style = "color:black;" })
                            </h6>
                        }
                    </div>
                    <div class="col-xs-3">
                        @foreach (var item in Model.allschools.Skip(24).Take(8))
                        {
                            <h6>
                                <span class="badge">@item.TicketCount</span> @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School }, new { @style = "color:black;" })
                            </h6>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@
<div id="myDiv" class="col-sm-12 col-md-10 content table-responsive table-full-width">
    <div class="panel">
        <div class="panel-heading">
            @if (@Model.TechID != null)
            {
                @Html.HiddenFor(model => model.TechID, new { id = "techtable"});
            }
            else
            {
            @Html.HiddenFor(model => model.Site, new { id = "sitetable" });
            }
            <h1 class="panel-title" style="font-size: 30px;">
                Today's Tickets
            </h1>
            
        </div>
        
        <div class="panel-body">
            <p>
                <div class="btn-group">
                    @if (Model.TechID != null)
                    {

                    }
                    else
                    {
                        <input type="button" class="btn btn-primary" value="Create Ticket" onclick="location.href='@Url.Action("Create", "Tickets")'" />
                    }   
                </div>

            </p>
            <table id="myTable" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1">
                            Ticket
                        </th>
                        <th class="col-xs-1">
                            School
                        </th>
                        <th class="col-xs-1">
                            User
                        </th>
                        <th class="col-xs-1">
                            Location
                        </th>
                        <th class="col-xs-1">
                            Equipment
                        </th>
                        <th class="col-xs-4">
                            Issue
                        </th>
                        <th class="col-xs-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.indexview)
                    {
                        <tr>
                            <td class="col-xs-1">
                                @Html.DisplayFor(modelItem => item.TicketNumber)<br />
                                <small>@Html.DisplayFor(modelItem => item.CreateTime)</small>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Site)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Equipment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Issue)
                            </td>
                            <td align="center" valign="middle">
                                @if (Model.allschools.Any(x => x.School != null))
                                {
                                    <input type="button" class="btn btn-default" value="Edit" onclick="location.href='@Url.Action("Edit", "Tickets", new { id = item.TicketNumber })'" />
                                }
                                else
                                {
                                    <input type="button" class="btn btn-default" value="View" onclick="location.href='@Url.Action("SiteView", "Tickets", new { id = item.TicketNumber })'" />
                                }
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="hidden-sm visible-md visible-lg col-md-2">
    @if (@Model.Scheduled == true)
    {
        <div class="panel">
            <div class="panel-heading">
                <h1 class="panel-title">
                    My Sites
                </h1>
            </div>
            <div class="panel-body">
                <table id="myschools">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="col-sm-2">
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model.myschools)
                        {
                            <tr>
                                <td class="col-sm-2">
                                    @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School, TechID = @item.TechID }, new { @style = "color:black;" })
                                </td>
                                <td>
                                    <span class="badge">@item.TicketCount</span>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (@Model.TechID != null)
    {
        <div class="panel">
            <div class="panel-heading">
                <h1 class="panel-title">
                    All Sites
                </h1>
            </div>
            <div class="panel-body">
                <table id="allschools">
                    <thead>
                        <tr>
                            <th class="col-sm-2">

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model.allschools)
                        {
                            <tr>
                                <td class="col-sm-2">
                                    @Html.ActionLink(@item.School, "SchoolTickets", new { selectedSchool = @item.School }, new { @style = "color:black;" })
                                </td>
                                <td>
                                    <span class="badge">@item.TicketCount</span>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="http://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    @*<script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
            [20],
            ['Show all']
                ],
                buttons: [

                   'excel', 'pdf',
                   {
                       extend: 'print',
                       title: '',
                       customize: function (win) {
                           $(win.document.body)
                           .css('font-size', '8pt')
                           $(win.document.body).find('table')
                           .addClass('compact')
                           .css('font-size', 'inherit')
                       }
                   }
                ],
                "bPaginate": false
            });
            $("#myTable_filter").addClass("pull-right");
        });
    </script>*@
<script>
    $(document).ready(function () {

        function RefreshTables() {

            var d = new Date();
            var weekday = new Array(7);
            weekday[0] =  "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            var n = weekday[d.getDay()];

            if($('#sitetable').val() == null)
            {
                var table1 = $("#myTable").DataTable({
                    ajax: {
                        url: "/api/TodaysOpenTickets/" + $('#techtable').val(),
                        data: {day: n },
                        dataSrc: ""
                    },
                    retrieve: true,
                    bPaginate: false, //hide pagination
                    bFilter: false, //hide Search bar
                    bInfo: false, // hide showing entries
                    columns: [
                        {
                            data: "TicketNumber",
                        },
                        {
                            data: "Site"
                        },
                        {
                            data: "TroubleUser"
                        },
                        {
                            data: "Location"
                        },
                        {
                            data: "Equipment"
                        },
                        {
                            data: "Issue"
                        },
                        {
                            data: "TicketNumber",
                            render: function (data, type, ticket) {
                                return "<a class='btn btn-default' href='/Tickets/Edit/" + data + "'>Edit</a>"
                            }
                        }
                    ],
                    dom: 'Bfrtip',
                    lengthMenu: [
                [20],
                ['Show all']
                    ],
                    buttons: [

                       'excel', 'pdf',
                       {
                           extend: 'print',
                           title: '',
                           customize: function (win) {
                               $(win.document.body)
                               .css('font-size', '8pt')
                               $(win.document.body).find('table')
                               .addClass('compact')
                               .css('font-size', 'inherit')
                           }
                       }
                    ],
                    "bPaginate": false
                });
                $("#myTable_filter").addClass("pull-right");
                var table2 = $("#myschools").DataTable({
                    ajax: {
                        url: "/api/TechOpenTickets/" + $('#techtable').val(),
                        data: {day: n },
                        dataSrc: "",
                    },
                    retrieve: true,
                    bPaginate: false, //hide pagination
                    bFilter: false, //hide Search bar
                    bInfo: false, // hide showing entries
                    columns: [
                        {
                            data: "rn",
                            bVisible: false,
                        },
                        {
                            data: "School",
                            render: function (data, type, ticket) {
                                return "<a style='color:grey;' href='/Tickets/TechTickets?selectedSchool=" + data + "&TechID=" + $('#techtable').val() + "'>" + data + "</a>"
                            }
                        },
                        {
                            data: "OpenTickets",
                            render: function (data, type, ticket) {
                                return "<span class='badge'>"+ data + "</span>"
                            }
                        }
                    ]
                });

                var table3 = $("#allschools").DataTable({
                    ajax: {
                        url: "/api/TechOpenTickets",
                        dataSrc: ""
                    },
                    retrieve: true,
                    bPaginate: false, //hide pagination
                    bFilter: false, //hide Search bar
                    bInfo: false, // hide showing entries
                    columns: [
                        {
                            data: "rn",
                            bVisible: false,
                        },
                        {
                            data: "School",
                            render: function (data, type, ticket) {

                                    return "<a style='color:grey;' href='/Tickets/SchoolTickets?selectedSchool=" + data + "'>" + data + "</a>"

                            }
                        },
                        {
                            data: "OpenTickets",
                            render: function (data, type, ticket) {
                                return "<span class='badge'>"+ data + "</span>"
                            }
                        }
                    ]
                });
            }
            else
            {
                var table1 = $("#myTable").DataTable({
                    ajax: {
                        url: "/api/TicketsForSchools/",
                        data:  {school: $('#sitetable').val()},
                        dataSrc: ""
                    },
                    retrieve: true,
                    bPaginate: false, //hide pagination
                    bFilter: false, //hide Search bar
                    bInfo: false, // hide showing entries
                    columns: [
                        {
                            data: "TicketNumber",
                        },
                        {
                            data: "Site"
                        },
                        {
                            data: "TroubleUser"
                        },
                        {
                            data: "Location"
                        },
                        {
                            data: "Equipment"
                        },
                        {
                            data: "Issue"
                        },
                        {
                            data: "TicketNumber",
                            render: function (data, type, ticket) {
                                return "<a class='btn btn-default' href='/Tickets/SiteView/" + data + "'>View</a>"
                            }

                        }
                    ]
                });
            }



                table1.ajax.reload();
                table2.ajax.reload();
                table3.ajax.reload();
                setTimeout(RefreshTables, 5000);
            }

            RefreshTables();
        });
</script>
}